{% extends 'Base.html' %}
{% load static %}
{% block content %}
<body class="sub_page">
  
  <div class="hero_area">
    <div class="bg-box">
      <img src="{% static 'images/hero-bg.jpg' %}" alt="">
    </div>
   </div> 
 {% include 'nav.html'%}

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/about-img.png'%}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                We Are Swivel
              </h2>
            </div>
            <p>
              Nested in the heart of the city,The Gemini is a warm and inviting restaurant that blends rustic charm with modern elegance.Our menu is crafted with passion,
              featuring wood-fired specialities,farm-to-table ingriedients, and globally inspired flavours.Whether tou are savoring our signature flame-grilled steaks,fresh seafood,or handcrafted pasta, every dish is made to delight the senses.
            </p>
            <a href="{% url 'menu' %}">
              Order Here
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

{% include 'footer.html' %}
{% endblock %}
</body>